@charset "UTF-8";
/* basic reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  border: 0; }

* {
  box-sizing: border-box; }

/*:root*/
:root {
  --color-primary-light: #ffd1fb;
  --color-primary: #ae6aa9;
  --color-primary-dark: #7f2885;
  --color-secondary-light: #99e688;
  --color-secondary-dark: #1d6d0c;
  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;
  --color-error: #9f0000;
  --color-grey-light: #f7f7f7;
  --color-grey: #777;
  --color-grey-dark: #999;
  --color-grey-darker: #333;
  --color-white: #fff;
  --color-black: #000;
  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-vertical-small: 6rem;
  --gutter-horizontal: 6rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@font-face {
  font-family: "Aran-portfolio";
  src: url("fonts/Aran-portfolio.ttf?61p6f4") format("truetype"), url("fonts/Aran-portfolio.woff?61p6f4") format("woff"), url("fonts/Aran-portfolio.svg?61p6f4#Aran-portfolio") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="aran-icon-"], [class*=" aran-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Aran-portfolio" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.aran-icon-envelope-solid:before {
  content: ""; }

.aran-icon-eye-regular:before {
  content: ""; }

.aran-icon-github-alt-brands:before {
  content: ""; }

.aran-icon-laptop-code-solid:before {
  content: ""; }

.aran-icon-linkedin-in-brands:before {
  content: ""; }

.aran-icon-pen-fancy-solid:before {
  content: ""; }

.aran-icon-twitter-brands:before {
  content: ""; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: light;
  line-height: 1.7;
  color: #777; }
  @media screen and (max-width: 1023px) {
    body {
      font-size: 1.125rem; } }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media screen and (max-width: 599px) {
    body {
      padding: 0; } }

ul {
  list-style: none;
  padding-left: 0; }

::selection {
  background-color: #ae6aa9;
  color: #fff; }

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 8rem;
    font-weight: 400;
    line-height: 1.2;
    text-transform: lowercase;
    animation: moveInLeft 1s ease-out; }
    @media screen and (max-width: 1023px) {
      .heading-primary--main {
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    animation: moveInRight 1s ease-out; }
    @media screen and (max-width: 599px) {
      .heading-primary--sub {
        font-size: 1rem;
        line-height: 1; } }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #ffd1fb, #7f2885);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase; }

.subtitle {
  margin-top: 1rem;
  font-weight: 600;
  color: #ae6aa9; }

.paragraph:not(:last-child) {
  margin-bottom: 1.5rem; }

/* grid layout*/
.grid-2-to-1, .grid-3-to-1 {
  display: grid;
  grid-gap: 5rem; }

.grid-2-to-1 {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)) !important; }

.grid-3-to-1 {
  grid-template-columns: repeat(3, 1fr); }
  @media screen and (max-width: 599px) {
    .grid-3-to-1 {
      grid-template-columns: 100%; } }

.navigation__button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6rem;
  right: 6rem;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  z-index: 4;
  cursor: pointer;
  outline: none; }
  @media screen and (max-width: 599px) {
    .navigation__button {
      width: 5rem;
      height: 5rem;
      top: 2rem;
      right: 2rem; } }

.navigation__background {
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  height: 6.5rem;
  width: 6.5rem;
  background-image: radial-gradient(#ffd1fb, #7f2885);
  border-radius: 50%;
  z-index: 2;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__background.--visible {
    transform: scale(80); }
  @media screen and (max-width: 599px) {
    .navigation__background {
      width: 4.5rem;
      height: 4.5rem;
      top: 2rem;
      right: 2rem; } }

.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__nav.--visible {
    opacity: 1;
    visibility: visible;
    width: 100%; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ae6aa9;
  transform: translateX(1rem); }

.navigation__icon {
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.header {
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(174, 106, 169, 0.8), rgba(127, 40, 133, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  @media (min-resolution: 192dpi) and (min-width: 600px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 600px), (min-width: 2000px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(174, 106, 169, 0.8), rgba(127, 40, 133, 0.8)), url(../img/hero.jpg); } }
  @media screen and (max-width: 599px) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    @media screen and (max-width: 599px) {
      .header__logo-box {
        top: 2rem;
        left: 2rem; } }
  .header__logo {
    height: 6.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.page-container {
  max-width: var(--grid-width);
  width: 100%;
  margin: 0 auto; }
  .page-container:not(:last-child) {
    margin-bottom: 8rem; }
    @media screen and (max-width: 1023px) {
      .page-container:not(:last-child) {
        margin-bottom: 6rem; } }
  @media screen and (max-width: 1023px) {
    .page-container {
      padding: 0 2rem; } }

.section-light {
  background-color: var(--color-grey-light); }
  .section-light.--low {
    padding: 25rem 0;
    margin-top: -25vh; }
  .section-light.--high {
    padding: 18rem 0 8rem 0;
    margin-top: -10rem; }
    @media screen and (max-width: 1023px) {
      .section-light.--high {
        padding: 15rem 0 5rem 0; } }

.section-skills {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(174, 106, 169, 0.8), rgba(127, 40, 133, 0.8)), url(../img/web.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-skills > * {
    transform: skewY(7deg); }
  @media screen and (max-width: 1023px) {
    .section-skills {
      padding: 10rem 0; } }

.section-contact {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #ffd1fb, #7f2885); }
  @media screen and (max-width: 1023px) {
    .section-contact {
      padding: 5rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/contactBg.jpg);
  background-size: 100%;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 1023px) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/contactBg.jpg);
      background-size: cover; } }
  @media screen and (max-width: 599px) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/contactBg.jpg);
      background-size: cover; } }
  .book__form {
    padding: 6rem; }
    @media screen and (max-width: 599px) {
      .book__form {
        width: auto; } }
  .book__link {
    display: block;
    padding: 1rem 0;
    font-size: 2.5rem;
    color: #7f2885; }
    @media screen and (max-width: 599px) {
      .book__link {
        font-size: 1.5rem; } }
  .book__icon {
    padding-right: 1.5rem; }

.social-media__list {
  list-style: none; }

.social-media__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0; }

.social-media__icon {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #7f2885; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #333; }
  .footer__logo {
    width: 70px; }
  .footer__copyright {
    color: #fff; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    padding-left: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #f7f7f7;
    background-color: #333;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #ae6aa9;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  transition: all .4s;
  z-index: -1; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--magenta {
  background-color: #7f2885;
  color: #fff; }
  .btn--magenta::after {
    background-color: #7f2885; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75;
  animation-fill-mode: forwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  color: #ae6aa9;
  text-decoration: none;
  border-bottom: 1px solid #ae6aa9;
  padding: .3rem; }

.btn-text:hover {
  background-color: #ae6aa9;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 30rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    transition: all .8s ease;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-primary {
        background-image: linear-gradient(to right bottom, #ffd1fb, #7f2885); }
      .card__side--back-secondary {
        background-image: linear-gradient(to right bottom, #99e688, #1d6d0c); }
      .card__side--back-tertiary {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    @media screen and (max-width: 599px) {
      .card__picture {
        background-size: cover; } }
    .card__picture--1 {
      background-image: url(../img/web/axaHealthkeeper.jpg); }
    .card__picture--2 {
      background-image: url(../img/web/myEasySante.jpg); }
    .card__picture--3 {
      background-image: url(../img/web/dtw.jpg); }
    .card__picture--4 {
      background-image: url(../img/web/veInteractive.jpg); }
    .card__picture--5 {
      background-image: url(../img/web/surePlanet.jpg); }
    .card__picture--6 {
      background-image: url(../img/web/novocal.jpg); }
    .card__picture--7 {
      background-image: url(../img/web/metaposta.jpg); }
    .card__picture--8 {
      background-image: url(../img/web/miConvenio.jpg); }
  .card__heading {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 70%;
    text-align: right;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff; }
    @media screen and (max-width: 599px) {
      .card__heading {
        bottom: 6rem; } }
  .card__heading-span {
    padding: 1rem 1.5rem;
    background-image: linear-gradient(to right bottom, rgba(255, 209, 251, 0.85), rgba(127, 40, 133, 0.85));
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 209, 251, 0.85), rgba(127, 40, 133, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(153, 230, 136, 0.85), rgba(29, 109, 12, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__description {
    text-align: center;
    padding: 3rem;
    color: #fff; }
  .card__cta {
    display: flex;
    justify-content: center;
    align-items: center; }
  @media screen and (max-width: 599px) {
    .card {
      height: auto; }
      .card__side {
        position: relative;
        box-shadow: none;
        height: 20rem; }
        .card__side--back {
          margin-top: -5rem;
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); } }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__icon {
    display: inline-block;
    font-size: 6rem;
    background-image: linear-gradient(to right, #ffd1fb, #ae6aa9);
    -webkit-background-clip: text;
    color: transparent; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    transition: all .2s;
    z-index: 1;
    outline-offset: 2rem; }
    @media screen and (max-width: 1023px) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.3%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
      @media screen and (max-width: 1023px) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
      @media screen and (max-width: 1023px) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 2; } }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
      @media screen and (max-width: 1023px) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #ae6aa9;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 2; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

/*swiper*/
* {
  margin: 0; }

body {
  overflow-x: hidden; }

.containersw {
  --n: 1;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  width: 100%;
  width: calc(var(--n)*100%);
  height: 50vw;
  max-height: 100vh;
  transform: translate(calc(var(--i, 0)/var(--n)*-100%)); }
  .containersw img {
    width: 100%;
    width: calc(100%/var(--n));
    user-select: none;
    pointer-events: none; }

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 75%;
    width: 100%;
    height: 50rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 3px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .4s .2s; }
  .modal:target {
    opacity: 1;
    visibility: visible; }
  .modal:target .modal__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .modal__close:link, .modal__close:visited {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 2rem;
    font-size: 3rem;
    text-decoration: none;
    color: #999;
    transition: all .2s; }
    .modal__close:link:hover, .modal__close:visited:hover {
      color: #7f2885; }
  .modal__image {
    width: 60%; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media screen and (max-width: 1023px) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media screen and (max-width: 1023px) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media screen and (max-width: 1023px) {
    .u-margin-top-big {
      margin-top: 5rem; } }

.margin-tb-1 {
  margin: 1rem 0; }

.u-padding-10 {
  padding-left: 10rem !important;
  padding-right: 10rem !important; }
  @media screen and (max-width: 599px) {
    .u-padding-10 {
      padding-left: 1rem !important;
      padding-right: 1rem !important; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media screen and (max-width: 1023px) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media screen and (max-width: 1023px) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media screen and (max-width: 1023px) {
    .u-margin-top-big {
      margin-top: 5rem; } }

.margin-tb-1 {
  margin: 1rem 0; }

.u-padding-10 {
  padding-left: 10rem !important;
  padding-right: 10rem !important; }
  @media screen and (max-width: 599px) {
    .u-padding-10 {
      padding-left: 1rem !important;
      padding-right: 1rem !important; } }
