@mixin linear-gradient-image ($image) {
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary, .8), 
    rgba($color-primary-dark, .8)),
    url($image);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

  @media (min-resolution: 192dpi) and (min-width: $breakpoint-xs),
          (-webkit-min-device-pixel-ratio: 2) and (min-width: $breakpoint-xs) {
    background-attachment: scroll;
  }
}

@mixin linear-gradient (){
  background: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}