@mixin linear-gradient-image ($image) {
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary, .8), 
    rgba($color-primary-dark, .8)),
    url($image);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

  @media screen and (min-resolution: 192dpi) and (max-width: $breakpoint-sm),
          (-webkit-min-device-pixel-ratio: 2) and (max-width: $breakpoint-sm) {
    background-attachment: scroll;
  }
}

@mixin linear-gradient ($color-from: $color-primary-light, $color-to: $color-primary-dark){
  background-image: linear-gradient(
    to right bottom,
    $color-from,
    $color-to
  );
}

@mixin linear-gradient-diagonal ($image, $percent, $alfa) {
  background-image: linear-gradient(
    105deg, 
    rgba($color-white, .9) 0%,
    rgba($color-white, .9) $percent,
    transparent $alfa
  ),
    url($image);
  background-size: cover;
  background-position: center;
}
