%grid {
  display: grid;
  grid-gap: 5rem;
}

.grid-2-to-1 {
  @extend %grid;
  @include columns-repeat-auto();
}

.grid-auto-to-1 {
  @extend %grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
