.page-container {
  max-width: var(--grid-width);
  width: 100%;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include is-tablet-landscape {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include is-desktop {
    padding: 0 2rem;
  }
}

.section-light {
  background-color: var(--color-grey-light);

  &.--low {
    padding: 20rem 0 30rem;
    margin-top: -25vh;
  }

  &.--high {
    padding: 18rem 0 8rem 0;
    margin-top: -12rem;

    @include is-tablet-landscape {
        padding: 15rem 0 5rem 0;
    }
  }
}

.section-background {
  padding: 10rem 0;
  @include linear-gradient-image($image-path + 'web.jpg');
  transform: skewY(-7deg);
  margin-top: -12rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-gradient {
  padding: 10rem 0;
  @include linear-gradient();

  @include is-tablet-landscape {
    padding: 5rem 0;
  }
}
