// Resolution variables:
$resolution: (
  mobile: $breakpoint-xs,
  tablet-portrait: $breakpoint-xs,
  tablet-landscape: $breakpoint-sm,
  desktop: $breakpoint-md,
  big-desktop: $breakpoint-lg
);

@mixin is-mobile() {
  @media screen and (max-width: $breakpoint-xs) { @content; }
}

@mixin is-tablet-portrait() {
  @media screen and (max-width: $breakpoint-xs) { @content; }
}

@mixin is-tablet-landscape() {
  @media screen and (max-width: $breakpoint-sm) { @content; }
}

@mixin is-desktop() {
  @media screen and (max-width: $breakpoint-md) { @content; }
}

@mixin is-big-desktop() {
  @media screen and (min-width: $breakpoint-lg) { @content; }
}
