<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Arantza Beitia</title>
  <meta name="description"
    content="Site dedicated to web development and multimedia with the aim of showing my portfolio with the works in which I am part.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <nav class="navigation">
    <button class="navigation__button">
      <span class="navigation__icon"></span>
    </button>

    <div class="navigation__background"></div>
    <div class="navigation__nav">
      <ul class="navigation__list">
        <li>
          <a href="#intro" class="navigation__link">Hello</a>
        </li>
        <li><a href="#about" class="navigation__link">About me</a></li>
        <li><a href="#skills" class="navigation__link">Skills</a></li>
        <li><a href="#portfolio" class="navigation__link">Portfolio</a></li>
        <li><a href="#contact" class="navigation__link">Contact</a></li>
      </ul>
    </div>
  </nav>

  <header class="hero" id="intro">
    <!-- <div class="parallax"></div> -->
    <div class="parallax text-center">
      <h1 class="[ hero__title --main ]">Hi!, I am Arantza</h1>
      <span class="[ hero__title --sub ]">Front end UI developer</span>
      <img src="images/content/logo.svg" alt="Logo" class="logo hidden">
    </div>
  </header>
  <main>
    <section class="section-light --low" id="about">
      <div class="text-center">
        <h2 class="heading-gradient hidden">A little bit about me</h2>
      </div>
      <div class="page-container">
        <div class="irregular-grid">
          <section class="irregular-grid__text">
            <h3 class="uppercase hidden">I code wonderfully simple interfaces, and I love what I do</h3>
            <p class="hidden">Since I started 10 years ago, I have worked for <strong
                class="text-strong">consultants</strong>, for
              <strong class="text-strong">startups</strong>, <strong class="text-strong">international
                companies</strong>, as a
              <strong class="text-strong">freelancer</strong> and even for <strong class="text-strong">workshops on new
                technologies for children</strong>. I have collaborated in the development
              of digital products for commercial and customer use, and for own product both in jobs front end
              development, content
              management, positioning and graphic design tasks.
            </p>

            <p class="hidden">I studied <strong class="text-strong">bachelor’s degree of Fine Arts</strong> and <strong
                class="text-strong">senior technician web application development</strong> in Bilbao. I’m interested in
              the whole visual part of the web, its
              <strong class="text-strong">usability, performance and accesibility</strong>. Also I’m interested in
              street art, classic movies, motorcycle
              roads and punk rock music.
            </p>
          </section>
          <img src="images/content/notre-damme.jpg" class="hidden irregular-grid__img --img-1" alt="Notre Damme" />
          <img src="images/content/triumph.jpg" class="hidden irregular-grid__img --img-2" alt="Triumph" />
          <img src="images/content/mirinda.jpg" class="hidden irregular-grid__img --img-3" alt="Mirinda" />
        </div>
      </div>
    </section>
    <section class="section-background" id="skills">
      <div class="text-center u-margin-bottom">
        <h2 class="[ heading-gradient --light ] hidden">Skills</h2>
      </div>
      <div class="grid-2-to-1 page-container">
        <article class="card hidden">
          <i class="icon aran-icon-laptop-code-solid"></i>
          <h3 class="uppercase text-dark">Front end</h3>
          <p class="text-center">I like to code from scratch, and I enjoy seeing the ideas that I have brought to life
            in the browser</p>
          <h4 class="margin-t-2 text-brand">Lenguages I speak:</h4>
          <p>HTML, CSS, Sass, JS, VueJS</p>
          <h4 class="margin-t-2 text-brand">Development tools:</h4>
          <ul class="text-center">
            <li>VisualStudio</li>
            <li>Codepen</li>
            <li>Github</li>
            <li>Terminal</li>
          </ul>
        </article>
        <article class="card hidden">
          <i class="icon aran-icon-pen-fancy-solid"></i>
          <h3 class="uppercase text-dark">Design</h3>
          <p class="text-center">Sometimes I do design tasks, which are motivating and relaxing moments for me</p>
          <h4 class="margin-t-2 text-brand">Design tools:</h4>
          <ul class="text-center">
            <li>Photoshop</li>
            <li>Illustrator</li>
            <li>Sketch</li>
            <li>Zeplin</li>
            <li>Invision</li>
            <li>Figma</li>
            <li>Paper and pencil</li>
          </ul>
        </article>
      </div>
    </section>
    <section class="section-light --high" id="portfolio">
      <div class="text-center u-margin-bottom">
        <h2 class="heading-gradient hidden">Last projects</h2>
        <p class="hidden">Some of the projects I have been part of</p>
      </div>
      <div class="grid-auto-to-1">
        <article class="tile hidden">
          <div class=" tile__image [ web-img --image-1 ]">
          </div>
          <div class="tile__content">
            <h2 class="tile__title">Axa healthkeeper</h2>
            <div class="tile__inner">
              <p>Layout for web, android and IOS apps. Product development for Axa
                Healthkeeper, implementation of on-demand designs
                without frameworks, developed in AngularJS.
              </p>
              <button class="[ btn btn--white ] margin-tb-1" data-modal-trigger="axa-hk">View</button>
            </div>
          </div>
        </article>
        <article class="tile hidden">
          <div class="tile__image [ web-img --image-2 ]"></div>
          <div class="tile__content">
            <h2 class="tile__title">My easy santé</h2>
            <div class="tile__inner">
              <p>Layout for web, android and IOS apps. Product development for Axa
                Healthkeeper, implementation of on-demand designs
                without frameworks, developed in VueJS.</p>
              <button class="[ btn btn--white ] margin-tb-1" data-modal-trigger="axa-fr">View</button>
            </div>
          </div>
        </article>
        <article class="tile hidden">
          <div class="tile__image [ web-img --image-3 ]"></div>
          <div class="tile__content">
            <h2 class="tile__title">Donostia Tech Week</h2>
            <div class="tile__inner">
              <p>WordPress layout of the Donostia Tech Week website in its 2017 edition, a
                technological event promoted by Ve
                Interactive. Logo design.
              </p>
              <button class="[ btn btn--white ] margin-tb-1" data-modal-trigger="donostia-tw">View</button>
            </div>
          </div>
        </article>
        <article class="tile hidden">
          <div class="tile__image [ web-img --image-4 ]"></div>
          <div class="tile__content">
            <h2 class="tile__title">Ve interactive</h2>
            <div class="tile__inner">
              <p>Development of applications to help online companies increase engagement,
                minimize website abandonment, and increase
                conversions in purchasing processes.
              </p>
              <button class="[ btn btn--white ] margin-tb-1" data-modal-trigger="ve-interactive">View</button>
            </div>
          </div>
        </article>
        <article class="tile hidden">
          <div class="tile__image [ web-img --image-5 ]"></div>
          <div class="tile__content">
            <h2 class="tile__title">Sure Planet</h2>
            <div class="tile__inner">
              <p>Portal development in Asp.net, JavaScript, JQuery, HTML5 and CSS3</p>
              <button class="[ btn btn--white ] margin-tb-1" data-modal-trigger="sure-planet">View</button>
            </div>
          </div>
        </article>
        <article class="tile hidden">
          <div class="tile__image [ web-img --image-6 ]"></div>
          <div class="tile__content">
            <h2 class="tile__title">Novocal</h2>
            <div class="tile__inner">
              <p>Development of the portal for a new corporate image</p>
              <button class="[ btn btn--white ] margin-tb-1" data-modal-trigger="novocal">View</button>
            </div>
          </div>
        </article>
        <article class="tile hidden">
          <div class="tile__image [ web-img --image-7 ]"></div>
          <div class="tile__content">
            <h2 class="tile__title">Metaposta</h2>
            <div class="tile__inner">
              <p>Front end development following the AA level web and accessibility standards.</p>
              <button class="[ btn btn--white ] margin-tb-1" data-modal-trigger="metaposta">View</button>
            </div>
          </div>
        </article>
        <article class="tile hidden">
          <div class="tile__image [ web-img --image-8 ]"></div>
          <div class="tile__content">
            <h2 class="tile__title">Mi convenio</h2>
            <div class="tile__inner">
              <p>Design and complete restructuring of the miConvenio.com website, developed in
                Asp.net</p>
              <button class="[ btn btn--white ] margin-tb-1" data-modal-trigger="mi-convenio">View</button>
            </div>
          </div>
        </article>
      </div>
    </section>
  </main>
  <footer class="footer" id="contact">
    <div class="page-container">
      <div class="contact hidden">
        <div class="contact__form">
          <h2 class="heading-gradient">Contact</h2>
          <p class="contact__text">Nice to meet you!, If you want to keep in touch, you can write or text me.
            Elsewhere,
            you can hit me up on links below, thank you for visiting.</p>
          <a href="mailto:arantza.beitia@gmail.com?Subject=Hola" data-text="arantza.beitia@gmail.com" target="_blank"
            class="link"><i class="[ icon --small ] aran-icon-envelope-solid"></i>arantza.beitia@gmail.com</a>
          <ul class="list --horizontal">
            <li>
              <a href="https://www.linkedin.com/in/arantza-beitia-14672b23/" class="link" target="_blank">
                <i class="[ icon --small ] aran-icon-linkedin-in-brands"></i>
                linkedin
              </a>
            </li>
            <li>
              <a href="https://www.domestika.org/es/arantzabeitia" class="link" target="_blank">
                <i class="[ icon --small ] aran-icon-domestika-brands"></i>domestika</a>
            </li>
            <li><a href="https://github.com/AranBeitia/portfolio" class="link" target="_blank"><i
                  class="[ icon --small ] aran-icon-github-alt-brands"></i>github</a></li>
          </ul>
        </div>
      </div>
      <p class="footer__copyright">&copy; 2021 <a href="#intro" class="footer__link">Arantza Beitia</a></p>
    </div>
  </footer>

  <aside class="modal">
    <article class="modal__wrapper">
      <button class="modal__close-button"></button>
      <div id="modal-content"></div>
    </article>
  </aside>
</body>

</html>