$font-primary-path: "../../assets/fonts";

@font-face {
  font-family: $asset-font-primary;
  src: url("#{$font-primary-path }/Lato-Thin.ttf") format("truetype");
  font-weight: $font-weight-thin;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $asset-font-primary;
  src: url("#{$font-primary-path }/Lato-Light.ttf") format("truetype");
  font-weight: $font-weight-light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $asset-font-primary;
  src: url("#{$font-primary-path }/Lato-Regular.ttf") format("truetype");
  font-weight: $font-weight-regular;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $asset-font-primary;
  src: url("#{$font-primary-path }/Lato-Bold.ttf") format("truetype");
  font-weight: $font-weight-bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $asset-font-primary;
  src: url("#{$font-primary-path }/Lato-Black.ttf") format("truetype");
  font-weight: $font-weight-black;
  font-style: normal;
  font-display: swap;
}

.font-primary {
  font-family: $asset-font-primary;
}

.font-light {
  font-weight: $font-weight-light;
}

.font-regular {
  font-weight: $font-weight-regular;
}

.font-bold {
  font-weight: $font-weight-bold;
}

.font-black {
  font-weight: $font-weight-black;
}
