/*:root*/
:root {
  --color-primary-light: #e6abe1;
  --color-primary: #ae6aa9;
  --color-primary-dark: #7f2885;

  --color-secondary-light: #99e688;
  --color-secondary-dark: #1d6d0c;

  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;

  --color-error: #9f0000;

  --color-grey-light: #f7f7f7;
  --color-grey: #777;
  --color-grey-dark: #999;
  --color-grey-darker: #333;

  --color-white: #fff;
  --color-black: #000;

  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-vertical-small: 6rem;
  --gutter-horizontal: 6rem;
}

// image path
$image-path: "../../assets/img/";

// COLORS
// $color-primary-light: #ffd1fb;
// $color-primary: #ae6aa9;
// $color-primary-dark: #7f2885;

$color-primary-light: #86779D;
$color-primary: #F721E4;
$color-primary-dark: #0C4290;

$color-secondary-light: #99e688;
$color-secondary-dark: #1d6d0c;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-error: #9f0000;

$color-grey-light: #f7f7f7;
$color-grey: #777;
$color-grey-dark: #999;
$color-grey-darker: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$asset-font-primary: "Lato";
$font-size-title: 8rem;
$font-size-header-1: 3.875rem;
$font-size-header-2: 3rem;
$font-size-xl: 2.25rem;
$font-size-lg: 1.75rem;
$font-size-base: 1.6rem;
$font-size-sm: 1.125rem;
$font-size-s: 1rem; // 16px
$font-size-xs: 0.875rem;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//BREAKPOINT

$breakpoint-xs: 600px !default;
$breakpoint-sm: 1024px !default;
$breakpoint-md: 1440px !default;
$breakpoint-lg: 1920px !default;
