.card {
  //FUNCTIONALITY
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 30rem;

  @include is-tablet-landscape {
    height: auto;
  }

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    transition: all .8s ease;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    overflow: hidden;

    @include is-tablet-landscape {
      position: relative;
      box-shadow: none;
      height: 25rem;
    }

    &--front {
      background-color: $color-white;
    }

    &--back {
      @include flex(flex, between, center);
      flex-direction: column;
      padding: 2rem;
      transform: rotateY(-180deg);
      @include linear-gradient($color-primary-light, $color-primary-dark);

      @include is-tablet-landscape {
        margin-top: -5rem;
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }

      @include is-mobile {
        padding: 1rem;
      }
    }
  }

  &:hover &__side--front{
    transform: rotateY(180deg);

    @include is-tablet-landscape {
      transform: rotateY(0);
    }
  }

  &:hover &__side--back{
    transform: rotateY(0);
  }

  //FRONT SIDE STYLING
  &__picture {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 5px;

    &--1 {
      background-image: url('#{$image-path}web/axaHealthkeeper.jpg');
    }

    &--2 {
      background-image: url('#{$image-path}web/myEasySante.jpg');
    }

    &--3 {
      background-image: url('#{$image-path}web/dtw.jpg');
    }

    &--4 {
      background-image: url('#{$image-path}web/veInteractive.jpg');
    }

    &--5 {
      background-image: url('#{$image-path}web/surePlanet.jpg');
    }

    &--6 {
      background-image: url('#{$image-path}web/novocal.jpg');
    }
    
    &--7 {
      background-image: url('#{$image-path}web/metaposta.jpg');
    }

    &--8 {
      background-image: url('#{$image-path}web/miConvenio.jpg');
    }
  }

  &__heading {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 70%;
    text-align: right;
    text-transform: uppercase;
    color: $color-white;

    @include is-tablet-landscape {
      bottom: 6rem;
    }
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    @include linear-gradient(rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  &__description {
    text-align: center;
    margin-top: 3rem;
    color: $color-white;
    font-size: 16px;
    line-height: 1.5;
  }
}
//skills
.card-transparent {
  @include flex(flex, start, center);
  flex-direction: column;
  padding: 2.5rem;
  border-radius: 3px;
  background-color: rgba($color-white, .8);
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
}
