html {
  //this defines what 1rem is
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include is-mobile {
    padding: 0;
  }
}

p::selection {
  background-color: $color-primary;
  color: $color-white;
}

@at-root ul#{&} {
  list-style: none;
  padding-left: 0;
}

