
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem; // Vertical Rhythm
  letter-spacing: normal;
}

h1 {
  @extend .text-heading-main;
}

h2 {
  @extend .text-heading-secondary;
}

h3 {
  @extend .text-heading-tertiary;
}

h4,
h5 {
  @extend .text-heading-fourth;
}

h6 {
  @extend .text-body-main-bold;
}

.heading-gradient {
  display: inline-block;
  text-transform: uppercase;
  @include linear-gradient;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;

  &.--light {
    @include linear-gradient($color-primary-light, $color-white);
  }
}
