.heading-primary {
  color: $color-white;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: $font-size-title;
    font-weight: $font-weight-regular;
    line-height: 1.2;
    animation: moveInLeft 1s ease-out;

    @include is-tablet-landscape {
      font-size: $font-size-title - 3;
    }
  }

  &--sub {
    display: block;
    font-size: $font-size-header-2;
    text-transform: uppercase;
    letter-spacing: .5rem;
    animation: moveInRight 1s ease-out;

    @include is-mobile {
      font-size: $font-size-header-2 - 2;
      line-height: 1;
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;

  &.--light {
    background-image: linear-gradient(to right, $color-primary-light, $color-white);
  }
}

.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  margin-top: 1rem;
  font-weight: $font-weight-semi-bold;
  color: $color-primary;
}

.paragraph {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
