.card {
  @include flex(flex, start, center);
  flex-direction: column;
  padding: 2.5rem;
  border-radius: 3px;
  background-color: rgba($color-white, .8);
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
}
