.contact {
  @include linear-gradient-diagonal ('#{$image-path}contactBg.jpg', 50%, 50%);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  @include is-tablet-landscape {
    @include linear-gradient-diagonal ('#{$image-path}contactBg.jpg', 65%, 65%); 
  }

  @include is-mobile {
    @include linear-gradient-diagonal ('#{$image-path}contactBg.jpg', 100%, 0);
  }

  &__form {
    padding: 6rem;

    @include is-mobile {
      padding: 4rem;
      width: auto;
    }
  }

  &__text {
    margin: 1rem 0;
    width: 50%;

    @include is-mobile {
      width: 100%;
    }
  }
}
