//irregular gallery with grid layout
.irregular-grid {
  display: grid;
  grid-template-columns: 12fr 3fr 3fr 1fr 6fr;
  grid-template-rows: 6rem 3rem auto 3rem;

  @include is-tablet-landscape {
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 2rem 1fr 3rem 3rem auto;
  }

  &__text {
    grid-column: 1;
    grid-row: 2;
    margin-right: 2rem;

    @include is-tablet-landscape {
      grid-column: 1 / span 5;
      grid-row: 2;
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &__img {
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    outline-offset: 1.5rem;
    z-index: 1;
    transition: all .2s;
    max-width: 100%;
    width: auto;

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 2;
    }

    @media (any-pointer: coarse) {
      transition: none;
    }

    &.--img-1 {
      grid-column: 2 / span 2;
      grid-row: 2;

      @include is-tablet-landscape {
        grid-column: 1 / span 2;
        grid-row: 4 / span 2;
      }
    }

    &.--img-2 {
      grid-column: 3 /span 3;
      grid-row: 3;

      @include is-tablet-landscape {
        grid-column: 2 / span 3;
        grid-row: 5;
      }

      @include is-mobile {
        display: none;
      }
    }

    &.--img-3 {
      grid-column: 5;
      grid-row: 1;

      @include is-tablet-landscape {
        grid-row: 3;
        grid-column: 4 / 6;
      }
    }
  }
}

//portfolio gallery
.web-img {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  border-top-left-radius: 3px;
  border-top-right-radius: 5px;

  @for $i from 1 through 8 {
    &.--image-#{$i}{
      background-image: url('#{$image-path}web/img-#{$i}.jpg');
    }
  }
}
