.tile {
  position: relative;
  transition: transform 0.5s ease, opacity 0.5s ease;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  height: 30rem;

  &__image {
    border-radius: 5px;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-black, .9);
      opacity: .5;
      transition: background-color .5s ease, opacity .5s ease;
    }
  }

  &__content {
    @include flex(flex, center, center);
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 5px;
    color: $color-white;
    transition: background-color .5s ease, transform .5s ease;
  }

  &__title {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    color: $color-white;
    @include linear-gradient(rgba($color-primary, .8), rgba($color-primary-dark, .8));
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  &__inner {
    width: 100%;
    max-height: 0;
    line-height: 1.5;
    margin-top: .35rem;
    text-align: center;
    opacity: 0;
    transition: max-height .5s ease, opacity .5s ease;
  }

  &:hover {
    .tile__image::before {
      opacity: .8;
      @include linear-gradient($color-primary-light, $color-primary-dark);
    }

    .tile__inner{
      max-height: 15rem;
      opacity: 1;
    }
  }

  @media (any-pointer: coarse) {
    margin: 0 1rem;
    transition: none;

    .tile__image::before {
      opacity: .8;
      @include linear-gradient($color-primary-light, $color-primary-dark);
    }

    .tile__inner {
      max-height: 15rem;
      opacity: 1;
    }
  }
}
