.footer {
  @include flex(flex, between, center);
  padding: 2rem;
  background-color: $color-grey-darker;

  &__copyright {
    color: $color-white;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding-left: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-grey-light;
      background-color: $color-grey-darker;
      transition: all .2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, .4);
      transform: rotate(5deg) scale(1.3);
    }
  }
}