%grid {
  display: grid;
  grid-gap: 5rem;
}

.grid-2-to-1 {
  @extend %grid;
  @include columns-repeat-auto();
}

.grid-auto-to-1 {
  @extend %grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 2rem;

  @include is-mobile {
    grid-template-columns: auto;
  }
}
