$icomoon-font-family: "Aran-portfolio" !default;
$icomoon-font-path: "fonts" !default;

$aran-icon-domestika-brands: "\e907";
$aran-icon-envelope-solid: "\e900";
$aran-icon-eye-regular: "\e901";
$aran-icon-github-alt-brands: "\e902";
$aran-icon-laptop-code-solid: "\e903";
$aran-icon-linkedin-in-brands: "\e904";
$aran-icon-pen-fancy-solid: "\e905";
$aran-icon-twitter-brands: "\e906";

